
.containerSkills{
  display: flex;

}
.squareSkill{
  width: 790px;
  border-radius: 29px;
}

.years{
  font-size: 6px;
  position: absolute;
  margin-left: 300px;
  display: inline;
  height: 30px;
  display: flex;
}


.yearOne::before{
  content: '';
  border-left: 2px dotted #70DC73;
  width: 1px;
  height: 400px;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
}
/* .yearOne::before{
  content: '';
  width: 2px;
  background: #535353;
  height: 530px;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
} */

.yearsTwo::before{
  content: '';
  border-left: 2px dotted #70DC73;
  width: 1px;
  height: 400px;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
}

.yearsThree::before{
 
  content: '';
  border-left: 2px dotted #70DC73;
  width: 1px;
  height: 400px;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;

}
.years h1{
  margin-left: 70px;
  
}

.containerSkills2{
  background-color: red;
  width: 350px

}
.textSkill{
  position: relative;
  margin: 45px 5px 10px 5px;
  font-size: 1rem;
}
.squareHtml{
  background-color: #2c2c2c;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: 300px;
  position: absolute;
  z-index: 0;
}

.squareHtml::before{
  content: '';
  position: inherit;
  background: #70DC73;
  height: 30px;
  border-radius: 10px;
  width: 450px;
  margin-left: -300px;
}

.squareHtml::after{
  outline: rgb(15, 15, 15) solid 4px;
  outline-offset: 0px;  
  content: '';
  position: inherit;
  background: #ffd900;
  height: 30px;
  border-radius: 10px;
  width: 200px;
  margin-left: -300px;
}
  
.squareCss{
  background-color: #2c2c2c;
  height: 30px;
  border-radius: 10px;
  width: 150px;
  margin-left: 300px;
  position: absolute;
  z-index: 0;
}

.squareCss::before{
  content: '';
  position: inherit;
  background: #70DC73;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: -300px;
 

}
.squareJs{
  background-color: #2c2c2c;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: 300px;
  position: absolute;
  z-index: 0;
}
.squareJs:before{
  content: '';
  position: inherit;
  background: #70DC73;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: -300px;}

.squarePhp{
 background-color: #2c2c2c;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: 300px;
  position: absolute;
  z-index: 0;
}
.squarePhp::before{
  content: '';
  position: inherit;
  background: #70DC73;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: -300px;}
.squareUi{
  background-color: #2c2c2c;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: 300px;
  position: absolute;
  z-index: 0;
}

.squareUi::before{
  content: '';
  position: inherit;
  background: #70DC73;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: -300px;}

.squareJoomla{
  background-color: #2c2c2c;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: 300px;
  position: absolute;
  z-index: 0;
}

.squareJoomla::before{
  content: '';
  position: inherit;
  background: #70DC73;
  height: 30px;
  border-radius: 10px;
  width: 350px;
  margin-left: -300px;}

