*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Century Gothic', sans-serif;                                               
}

body{
  display: -ms-grid;
  place-items: center;
  color: #fff;
  background: #000;
  list-style-type: none;
}

